<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                         Buying and salling Predicator
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                     <tr>
                                        <td>IBM</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       500.25</td>
                                    </tr>
                                    <tr>
                                        <td>HTC</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       200.30</td>
                                    </tr>
                                    <tr>
                                        <td>MAC</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       150.25</td>
                                    </tr>
                                    <tr >
                                        <td>DELL</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       856.25</td>
                                    </tr>
                                    <tr>
                                        <td>IMO</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       78.14</td>
                                    </tr>
                                    <tr>
                                        <td>Microsoft</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       98.98</td>
                                    </tr>
                                    <!--<tr *ngFor="let buyingSt of buyingStock;">
                                        <td>{{buyingSt.Name}}</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       {{buyingSt.PredictPrice | number : '1.2-2'}}</td>
                                    </tr>
                                    <tr *ngIf="buyingStock.length < 1">
                                        <td colspan="2" class="text-center">
                                            Not Found
                                        </td>
                                    </tr>!-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>