<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                         Buying and salling Predicator
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let buyingSt of buyingStock;">
                                        <td>{{buyingSt.Name}}</td>
                                        <td class="text-right text-success">{{buyingSt.PredictPrice | number : '1.2-2'}}</td>
                                    </tr>
                                    <tr *ngFor="let selling of sellingStock;">
                                        <td>{{selling.Name}}</td>
                                        <td class="text-right text-danger">{{selling.PredictPrice | number : '1.2-2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>